.main__container{
  display: flex;
  justify-content: center;
}

.form__container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-group{
  padding: 50px;
  border-radius: 20px;
  border: 1px solid rgb(214, 208, 208);
  background-color: rgb(242, 242, 242);
  box-shadow: 10px 9px 51px 6px rgba(0,0,0,0.64);
  -webkit-box-shadow: 10px 9px 51px 6px rgba(0,0,0,0.64);
  -moz-box-shadow: 10px 9px 51px 6px rgba(0,0,0,0.64);
}

.control__container{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 15px 0;
}

.button__container{
  display: flex;
  justify-content: center; 
}

p{
  margin: 0;
}

a.button {
  margin: 10px;
  text-decoration: none !important;
  min-width: 130px;
  color: #fff;
  padding: 1em 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #3499ff;
  z-index: 1;
}
  
a.button:hover:after {
  width: 100%;
  left: 0;
}
  
a.button:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
  background-color: #5badff;
  right: 0;
}
  
a.button:active {
  top: 2px;
}