<div class="main__container">
    <a class="button" href='products'>Ver todos los productos</a>
</div>
<div class="form__container">
    <form action="/products" method="POST">
        <div class="control__container">
            <p>Nombre</p>
            <input required type="text" name="name" />
        </div>
        <div class="control__container">
            <p>Precio</p>
            <input required type="number" name="price" />
        </div>
        <div class="control__container">
            <p>Thumbnail</p>
            <input required type="text" name="thumbnail" />
        </div>
        <div class="button__container">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
