<div class="main__container">
    <a class="button" href='/'>Volver al inicio</a>
</div>
{{#if (isdefined prods)}}
    <div>
            <table class="table">
                <tr>
                <th class="text-center">Titulo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">imagen</th>
            </tr> 
            {{#each prods}}
                <tr>
                    <td class="text-center">{{this.name}}</td>
                    <td class="text-center">$ {{this.price}}</td>
                    <td class="text-center"><img src={{this.thumbnail}}></td>
                </tr>
            {{/each}}
        </table>
    </div>
{{else}}
    <h2 style="text-align: center;">No hay productos cargados.</h2>
{{/if}}
